### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

### Data Collection

In [2]:
data = pd.read_csv('movies.csv')

In [3]:
data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [4]:
data.shape

(4803, 24)

### Data Preprocessing

In [5]:
data.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [6]:
selected_features = ['genres','keywords','tagline','cast','director']

In [7]:
data_new = data[selected_features]

In [8]:
data_new.shape

(4803, 5)

In [9]:
data_new.isnull().sum()

genres       28
keywords    412
tagline     844
cast         43
director     30
dtype: int64

In [10]:
# filling null values with empty string
data_new = data_new.fillna('')

In [11]:
data_new.isnull().sum()

genres      0
keywords    0
tagline     0
cast        0
director    0
dtype: int64

In [12]:
# combining all features 
features_combined = data_new['genres']+' '+data_new['keywords']+' '+data_new['tagline']+' '+data_new['cast']+' '+data_new['director']

In [13]:
len(features_combined)

4803

In [14]:
features_combined[0]

'Action Adventure Fantasy Science Fiction culture clash future space war space colony society Enter the World of Pandora. Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez James Cameron'

In [15]:
# converting textual data to feature vectors
vectorizer = TfidfVectorizer()

In [16]:
feature_vectors = vectorizer.fit_transform(features_combined)

In [17]:
feature_vectors.shape

(4803, 17318)

### Similarity Scores

In [18]:
similarity = cosine_similarity(feature_vectors)

In [19]:
similarity.shape

(4803, 4803)

In [20]:
type(similarity)

numpy.ndarray

### Taking User Input & Generating List of Similar Movies

In [21]:
movies_title_list = data['title'].tolist()
len(movies_title_list)

4803

In [22]:
user_movie_name = input("Please enter your favourite movie name : ")

Please enter your favourite movie name : X Men

In [23]:
close_match = difflib.get_close_matches(user_movie_name,movies_title_list)
# as user may not give accurate movie name. so this helps in finding accurate movie name as per our data

In [24]:
close_match

['X-Men', 'Soul Men', 'Safe Men']

In [25]:
movie_name = close_match[0] # can choose any index, as it's upto user

In [26]:
movie_name

'X-Men'

In [27]:
# finding movie index in our data
movie_index = data.loc[data.title == movie_name].index[0]

In [28]:
movie_index

511

In [29]:
similarity_scores = similarity[movie_index]
sorted_similarity_scores = sorted(list(enumerate(similarity_scores)),key = lambda x:x[1],reverse = True)
similar_movies = [[i,movies_title_list[i],j] for i,j in sorted_similarity_scores[:21]]
df = pd.DataFrame(similar_movies[1:],columns = ['index','similar_movies','similarity_score'])

In [30]:
df

    index                       similar_movies  similarity_score
0     203                                   X2          0.802011
1      33                X-Men: The Last Stand          0.768335
2      46           X-Men: Days of Future Past          0.533976
3      64                    X-Men: Apocalypse          0.419961
4     232                        The Wolverine          0.316957
5       7              Avengers: Age of Ultron          0.305037
6     182                              Ant-Man          0.290390
7      16                         The Avengers          0.289240
8     122             X-Men Origins: Wolverine          0.275592
9      79                           Iron Man 2          0.273052
10    174                  The Incredible Hulk          0.271372
11   4759                 The Image Revolution          0.264855
12     14                         Man of Steel          0.261702
13    788                             Deadpool          0.259416
14    126                 Thor: The Dark World          0.258599
15     38             The Amazing Spider-Man 2          0.249010
16    101                   X-Men: First Class          0.235541
17     85  Captain America: The Winter Soldier          0.196606
18    870                          Superman II          0.193930
19     26           Captain America: Civil War          0.185556

### Recommendation System

In [31]:
def recommendation_system(movie_name):
    # This func will return 20 movies similar to the given movie, with database index and similarity scores
    close_match = difflib.get_close_matches(user_movie_name,movies_title_list)
    print(f"Movies Available {close_match}")
    user_selection = int(input('Please select your desired movie (use 1,2,3,etc.) : '))
    movie_name = close_match[user_selection-1]
    movie_index = data.loc[data.title == movie_name].index[0]
    similarity_scores = similarity[movie_index]
    sorted_similarity_scores = sorted(list(enumerate(similarity_scores)),key = lambda x:x[1],reverse = True)
    similar_movies = [[i,movies_title_list[i],j] for i,j in sorted_similarity_scores[:21]]
    df = pd.DataFrame(similar_movies[1:],columns = ['index','similar_movies','similarity_score'])
    return df

In [32]:
user_movie_name = input("Please enter your favourite movie name : ")

Please enter your favourite movie name : X Men

In [33]:
recommendation_system(user_movie_name)

Movies Available ['X-Men', 'Soul Men', 'Safe Men']
Please select your desired movie (use 1,2,3,etc.) : 1

    index                       similar_movies  similarity_score
0     203                                   X2          0.802011
1      33                X-Men: The Last Stand          0.768335
2      46           X-Men: Days of Future Past          0.533976
3      64                    X-Men: Apocalypse          0.419961
4     232                        The Wolverine          0.316957
5       7              Avengers: Age of Ultron          0.305037
6     182                              Ant-Man          0.290390
7      16                         The Avengers          0.289240
8     122             X-Men Origins: Wolverine          0.275592
9      79                           Iron Man 2          0.273052
10    174                  The Incredible Hulk          0.271372
11   4759                 The Image Revolution          0.264855
12     14                         Man of Steel          0.261702
13    788                             Deadpool          0.259416
14    126                 Thor: The Dark World          0.258599
15     38             The Amazing Spider-Man 2          0.249010
16    101                   X-Men: First Class          0.235541
17     85  Captain America: The Winter Soldier          0.196606
18    870                          Superman II          0.193930
19     26           Captain America: Civil War          0.185556